button[name="run_script"] { 
    border: none;
    border-radius: 7px;
    padding: 10px 25px;
    background: #ff9900;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
button[name="run_script"]:hover { 
    background: #ff6600;
} 

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}