{% extends 'header.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/contact" method="post" class="form-contact">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </p>
    <p>
        {{ form.message.label }}<br>
        {{ form.message(class_='form-input') }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}
