<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
{% block title -%}
    <title>{{ title }}</title>
{% endblock %}
</head>
<body>
{% block content -%}
    {% block mainmenu -%}
    <ul class="mainmenu">
        {% if username %}
            <li><a href="/profile/{{username}}"><img src="{{url_for('static', filename='images/logo.png')}}" height="48" width="48"></a></li>
        {% else %}
            <li><img src="{{url_for('static', filename='images/logo.png')}}" height="48" width="48"></li>
        {% endif %}
        {% for m in menu -%}
        <li><a href="{{m.url}}">{{m.name}}</a></li>
        {% endfor -%}
    </ul>
    {% endblock mainmenu -%}
<div class="clear"></div>
{% endblock -%}
</body>
</html>
