{% extends 'header.html' %}

{% block content %}
{{ super() }}
<!-- Вызываем мгновенное сообщение -->
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/new_profile" method="post" class="form-contact">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>
        {{ form.password_check.label }}<br>
        {{ form.password_check(size=32) }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}
