{% extends 'header.html' %}

{% block content %}
{{ super() }}
<!-- Вызываем мгновенное сообщение -->
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/new_note" method="post" class="form-new-note">
    {{ form.hidden_tag() }}
    <p>
        {{ form.header.label }}<br>
        {{ form.header(class_='form-input') }}<br>
    </p>
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class_='form-input') }}
    </p>
    <p>
        {{ form.submit(class_='form-submit') }}
    </p>
</form>
{% endblock %}
