{% extends 'header.html' %}

{% block content %}
{{ super() }}


{% with username=username %}
    {% include 'sidebar.html' %}
{% endwith %}

<link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
<a href="{{url_for('new_note')}}" class="new-note-button"><button type="button" name="new_note">Новая заметка</button></a>

<div class="noteset">
{% for note in notes %}

    {% if loop.index is not divisibleby(2) %}
        <div class="noterow">
            <div class="wrapper">
                <a href="{{url_for('delete', header=note.header)}}"><button class="del-button">X</button></a>
                <a href="{{url_for('note', header=note.header)}}">
                <div class="note">
                    {{ note.header }}
                    <b class="date">{{ note.creation_date }}</b>
                    <hr>
                </div>
                </a>
            </div>
    {% elif loop.index is divisibleby(2) or loop.last %}
            <div class="wrapper">
                <a href="{{url_for('delete', header=note.header)}}"><button class="del-button">X</button></a>
                <a href="{{url_for('note', header=note.header)}}">
                <div class="note">
                    {{ note.header }}
                    <b class="date">{{ note.creation_date }}</b>
                    <hr>
                    {{ note.text }}
                </div>
                </a>
            </div>
        </div>
    {% endif %}
    
{% endfor %}
</div>

{% endblock %}