{% extends 'base.html' %}

{% block content %}
{{ super() }}

<div class="section-block">

    <a href="{{url_for('notes', username=username)}}">
        <div class="section">
            Заметки
        </div>
    </a>

    <a href="{{url_for('lectures', username=username)}}">
        <div class="section">
            Лекции
        </div>
    </a>

    <a href="{{url_for('calendar', username=username)}}">
        <div class="section">
            Календарь
        </div>
    </a>

</div>

{% endblock %}